@charset "utf-8";
/*背景色を決める*/
.head{
	height:100%;
	background-color:#4A3500;
	display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}
/*左上アイコン*/
.head img {
	vertical-align: middle;
	max-width: 50px;
	max-height: 50px;
	margin-left: 3%;
	position: absolute;
  	left: 0%;  /*親要素を起点に左から50%*/
	border-radius: 10px;
}
/*SHERLOCKの文字装飾*/
.head h1{
	color:whitesmoke;
	text-align: center;
	
}
body img{
	margin-left:10%;
	margin-right:10%;
	width:80%;
	height:auto;
}
p {
	color:#4D4026;
	margin-left:10%;
	margin-right:10%;
}
#sub_title{
	margin:center;
	color:#4D4026;
	text-decoration : underline;
}
.navbar-brand h2{
	color:#4D4026;
}
h1{
	color:#4D4026;
}
h2{
	text-align: center;
}
